<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/popper.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>

<body class="text-center">
  <% if !current_user.nil? %>
      <script type="text/javascript">setTimeout('window.location.href="/"')</script>
  <% else %>
  <form class="form-signup" action="/signup" name="signup" id="signup" method="post">
        <h1 class="h3 mb-3 font-weight-normal">新規登録</h1>
        <br>
        <label for="inputUsername" class="sr-only">名前</label>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="" onchange="checkbutton();">
        <label for="inputEmail" class="sr-only">Eメールアドレス</label>
        <input name="mail" type="email" id="inputEmail" class="form-control" placeholder="Email" required=""
            autofocus="" onchange="checkbutton();">
        <label for="inputPassword" class="sr-only">パスワード</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
            required="" autofocus="" onchange="checkbutton();">
        <label for="inputPassword" class="sr-only">パスワードをもう一度入力</label>
        <input name="password_confirmation" type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required="" autofocus="" onchange="checkbutton();">
        <br>
        <script type="text/javascript" script src="/js/main.js"></script>
        <input class="btn btn-outline-danger" name="submit" id="submit" type="submit" value="新規登録"><br><br>
        <p>アカウントを既にお持ちの方は<a href="/signin">こちら</a></p>
    </form>
    <% end %>
</body>

<style>
    .form-signup input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signup .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-signup {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
</style>