<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/popper.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>

<body class="text-center">
    <% if !current_user.nil? %>
    <script type="text/javascript">setTimeout('window.location.href="/"')</script>
    <% else %>
    <form class="form-signin" name="signin" id="signin" action="/signin" method="post">
        <h1 class="h3 mb-3 font-weight-normal">ログイン</h1><br>
        <label for="inputEmail" class="sr-only">Eメールアドレス</label>
        <input name="mail" type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="" onchange="checkbutton();">
        <label for="inputPassword" class="sr-only">パスワード</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="" autofocus="" onchange="checkbutton();"><br>
        <span class="searchclear glyphicon glyphicon-remove-circle"></span>
        <input class="btn btn-outline-info" id="submit" type="submit" value="ログイン"><br><br>
        <p>アカウントお持ちでない方は<a href="/signup">こちら</a></p>
    </form>
    <% end %>
</body>
<script type="text/javascript" script src="/js/main.js"></script>
<style>
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

    .searchclear {
        position: absolute;
        right: 5px;
        top: 0;
        bottom: 0;
        height: 14px;
        margin: auto;
        font-size: 14px;
        cursor: pointer;
        color: #ccc;
    }
</style>