/* リセット -----------------------------------------------*/
body,
div,
p,
ul,
li,
a,
h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/*  2カラム---------------------------------------------------*/
#wrapper {
  width: 100%;
  line-height: 1.7;
}

#header {
  background: #DDD;
  padding: 10px;
}

#container {
  float: left;
  width: 100%;
}

#primary {
  float: right;
  width: 100%;
  margin: 10px 0 10px -145px;
  /*  左方向に負のマージンを指定  */
  background: #C7D;
}

#content {
  margin-left: 155px;
  padding: 10px;
  background: #cdd;
}

#secondary {
  float: left;
  width: 145px;
  margin: 10px 0 10px 0;
  background: #9FC;
}

#footer {
  clear: both;
  text-align: center;
  height: 50px;
  line-height: 50px;
  /* line-heightとheightの高さをあわせる */
  background: #FF9933;
}

table {
  border-collapse: separate;
  border-spacing: 0px 5px;
  margin: 0 auto;
}

td,
th {
  padding: 10px;
}

th {
  background: #10a0e0;
  color: #fff;
}

td {
  background: #f1fafe;
}

textarea {
  width: 100%;
  height: 5em;
}